@font-face
{
  font-family: 'Open Sans EB';
  src: url('../webfonts/OpenSans-ExtraBold.ttf');
  font-display: swap;
}
@font-face
{
  font-family: 'Open Sans';
  src: url('../webfonts/open-sans-latin-400-normal.woff2');
  font-style: normal;
  font-display: swap;
}
@font-face
{
    font-family: 'Lato';
    src: url('../webfonts/lato-latin-900-normal.woff2') format('woff2');
    font-weight: 400;
    ascent-override: 0.968;
    descent-override: 0.29;
    line-gap-override: 0;
    font-display: swap;
}
:root {
    --fightden-red: #FF0000;
}
body
{
    min-width: 375px;
    font-family: 'Open Sans', 'Verdana'!important;
}
.pageheader
{
    padding-top: 40px;
    place-items: center; /* Centers horizontally */
    /* align-self: center; */
    background-image: url('../../images/fightdenbg.webp');
    color: #FFFFFF;
}
div.gridLayout
{
    display: grid;
    grid-row-gap: 0px;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
div.footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center; /* vertical */
    justify-items: center; /* horizontal */
    background-color: #f1f1f1!important;
}
.card
{
    max-width: 400px;
    background-color: rgb(221 221 221 / 90%);
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 4px 4px 15px black;
    color: #000000;
}
.fightdenlogo
{
    width: 246px;
    height: 40px;
}
.fdlogobg
{
    background-image: linear-gradient(to right, var(--fightden-red), #000000 99%);
}
.fdgradientbg
{
    background-image: linear-gradient(to right, var(--fightden-red) 20%, #000000 30%); 
}
.navtext
{
    color: #FFFFFF!important;
}
.navbgcolor
{
    background-color: #000000!important;
}
h1.pagetitle
{
    font-family: 'Open Sans EB';
    border: 1px dashed black;
}
.sitecredits
{
    padding: 10px;
    color: #BBBBBB;
    justify-self: center;
}
.striped-bg1 {
    background-color: black;
    /* background-image: repeating-linear-gradient(
    -45deg,
    transparent 10px,
    grey 20px,
    transparent 10px
  ); */
  }
.mainheader
{
    align-items: center; /* vertical */
    justify-items: center; /* horizontal */
    color: #FFFFFF;
}
h2.mainheader{
    position: relative;
}
h2.mainheader::after {
    content: '';
    display: block;
    position: relative;
    justify-self: unsafe center;
    bottom: 6px;        /* Positions the line slightly below the text */
    width: 50%;          /* Dictates how much of the text is underlined */
    height: 4px;         /* Determines the thickness of the line */
    background-color: var(--fightden-red);
}
@media (max-width: 375px)
{
    h1.pagetitle
    {
        font-size: 30pt;
        /*background-color: blue;*/
    }
}

@media (min-width: 376px) and (max-width: 425px)
{
    h1.pagetitle
    {
        font-size: 50pt;
        /* background-color: purple; */
    }
}

@media (min-width: 768px)
{
    h1.pagetitle
    {
        font-size: 70pt;
        /* background-color: cyan; */
    }
}