@font-face
{
  font-family: 'Open Sans EB';
  src: url('../webfonts/OpenSans-ExtraBold.ttf');
  font-display: swap;
}
@font-face
{
  font-family: 'Open Sans';
  src: url('../webfonts/open-sans-latin-400-normal.woff2');
  font-style: normal;
  font-display: swap;
}
@font-face
{
    font-family: 'Lato';
    src: url('../webfonts/lato-latin-900-normal.woff2') format('woff2');
    font-weight: 400;
    ascent-override: 0.968;
    descent-override: 0.29;
    line-gap-override: 0;
    font-display: swap;
}
body
{
    min-width: 375px;
    font-family: 'Open Sans', 'Verdana'!important;
}
.pageheader
{
    margin-top: 32px;
    place-items: center; /* Centers horizontally */
    /* align-self: center; */
    background-image: url('../../images/fightdenbg.webp');
    color: #FFFFFF;
}
div.gridLayout
{
    display: grid;
    grid-row-gap: 0px;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}
div.footer
{
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center; /* vertical */
    justify-items: center; /* horizontal */
    background-color: #f1f1f1!important;
}
.fightdenred
{
 background-color: red;
}
.fightdenlogo
{
    width: 246px;
    height: 40px;
}
.fdlogobg
{
    background-image: linear-gradient(to right, red, #000000 99%);
}
.fdgradientbg
{
    background-image: linear-gradient(to right, red 20%, #000000 30%); 
}
.navtext
{
    color: #FFFFFF!important;
}
.navbgcolor
{
    background-color: #000000!important;
}
h1.pagetitle
{
    font-family: 'Open Sans EB';
    border: 1px dashed black;
}
.sitecredits
{
    padding: 10px;
    color: #BBBBBB;
    justify-self: center;
}

@media (max-width: 375px)
{
    h1.pagetitle
    {
        font-size: 30pt;
        /*background-color: blue;*/
    }
}

@media (min-width: 376px) and (max-width: 425px)
{
    h1.pagetitle
    {
        font-size: 50pt;
        /* background-color: purple; */
    }
}

@media (min-width: 768px)
{
    h1.pagetitle
    {
        font-size: 70pt;
        /* background-color: cyan; */
    }
}